<html>
    <head>
        <title>Welcome</title>
        <style>
            body{
                background-color: rgb(213, 229, 233);
                color: blue;
                font-size: 30px;
            }
        </style>
    </head>
    {%load static%}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <body>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <li><a href="http://localhost:8000/playground/welcome"><h1 id="logo">MyInfoSpace!</a></h1></li>
                    </div>
                    <div class="col-md-8">
                        <ul id="menu" class="float-md-right">
                            <li><a href="http://localhost:8000/playground/myspace">MySpace </a></li>
                            <li><a href="http://localhost:8000/playground/friendspace"><u>FriendsSpace</u></a></li>
                            <li><a href="http://localhost:8000/playground/chatroom">Chatroom</a></li>
                            <li><a href="http://localhost:8000/playground/settings">Settings</a></li>
                            <li><a href="http://localhost:8000/playground/ContactUs">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>