<html>
    <head>
        <title>Welcome Page</title>
        <style>
            body{
                background-color: rgb(213, 229, 233);
                color: blue;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <p><span style="font-size:22px"><span style="color:#8e44ad"><strong>Welcome Maria!&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></span></span><span style="font-size:16px"><span style="color:#8e44ad"><strong>Followers:&nbsp; 100&nbsp; &nbsp;Following: 100</strong></span></span></p> 

        <hr />
        <p>&nbsp;<span style="font-size:18px"><span style="color:#8e44ad"><strong>My Space&nbsp; &nbsp;&nbsp;</strong></span></span><span style="color:#8e44ad"><span style="font-size:18px"><strong>Suggested&nbsp; &nbsp; &nbsp;</strong></span></span><span style="color:#8e44ad"><span style="font-size:18px"><strong>Friends Space&nbsp; &nbsp; &nbsp;</strong></span></span><span style="color:#8e44ad"><span style="font-size:18px"><strong>Chat Room&nbsp; &nbsp; &nbsp;</strong></span></span><span style="color:#8e44ad"><span style="font-size:18px"><strong>Settings&nbsp; &nbsp; &nbsp;Edit</strong></span></span></p>

        <hr />
        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p style="text-align:center">&nbsp;</p>

        <p style="text-align:center">&nbsp;</p>

    </body>

</html>