.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container1 {
  width: 100%;
  height: 81px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 70px;
  display: flex;
  padding: 32px;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #AC09D4;
}
.home-welcome {
  color: #965391;
  margin: 16px;
  font-size: 60px;
  align-self: center;
  font-style: italic;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  text-transform: capitalize;
}
.home-container2 {
  top: 253px;
  left: 0px;
  right: 0px;
  width: 650.0000305175781px;
  height: 405.0000114440918px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-usernamelabel {
  top: 0px;
  left: 25px;
  color: #965391;
  position: absolute;
  font-size: 36px;
  align-self: center;
  font-style: italic;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  text-transform: capitalize;
}
.close {
  top: 400px;
  color: #F9FCFE;
  right: 21px;
  width: 164px;
  height: 70px;
  margin: var(16px);
  position: absolute;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-bottom: 0px;
  text-transform: capitalize;
  background-color: #AC09D4;
}
.home-passwordlabel {
  top: 85px;
  left: 27px;
  color: #965391;
  position: absolute;
  font-size: 36px;
  align-self: center;
  font-style: italic;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  text-transform: capitalize;
}
.home-button1 {
  top: 500px;
  color: #F9FCFE;
  right: 21px;
  width: 164px;
  height: 70px;
  margin: var(16px);
  position: absolute;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-bottom: 0px;
  text-transform: capitalize;
  background-color: #AC09D4;
}
.home-signuplabel {
  top: 267px;
  left: 24px;
  color: #965391;
  position: absolute;
  font-size: 36px;
  align-self: center;
  font-style: italic;
  text-align: center;
  font-family: Arial;
  font-weight: 700;
  text-transform: capitalize;
}
.home-username {
  top: 2px;
  left: 269.0000305175781px;
  width: 355px;
  height: 50px;
  position: absolute;
}
.home-password {
  top: 77px;
  left: 266px;
  width: 355px;
  height: 58px;
  position: absolute;
}
